@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,800;1,800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');/* Fonte Roboto Serif*/

*{
    margin: 0;
    padding: 0;
}
.card-title{
    color: rgb(195, 247, 7);
    text-shadow: 2px 2px 2px black;
}
#textoHeader {
    margin-top: 160px;
  
}
h1 {
    margin: 10px;
    padding-top: 10px;
    color: rgb(195, 247, 7);
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-family: "Roboto Serif", serif;
    font-weight: 800;
    font-style: italic;
}
h2 {
    margin-top: 10px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: bold;
}
a {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:  italic;
    text-decoration: none;
}
a:hover {
   color: rgb(255, 0, 0);
}
h3, h4, h5{
    color: rgb(195, 247, 7);
    text-shadow: 2px 2px 2px black;
}
.color {
    color: rgb(195, 247, 7);
    text-shadow: 2px 2px 2px black;
    font-family: "Roboto Serif", serif;
    font-weight: 800;
}
.subtitulo{
    text-align: center;
    padding: 5px;
    text-shadow: 0.1px 0.1px 0.1px black;
    border: 1px solid blue;
    border-radius: 5px;
}
p {
    text-indent: 20px;
    margin-top: -10px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*INÍCIO FOOTER*/
.footer {
    margin-top: 20px;
    margin-bottom: -15px;
    padding-top: 10px;
    background-color:rgba(7, 7, 7, 0.938);
}
.colorwhite{
    color: white;
    padding-bottom: 20px;
}
li{
    list-style-type: none;
}

.autorais{
    text-align: center;
    width: 90vw;
    margin-top: 40px;
}
.colorNav {
    color: rgb(43, 53, 63);
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

/*FIM FOOTER*/

